<nav class="navbar navbar-light bg-dark">
    <a href="/">
        <img src="/img/Logo.png" alt="Home">
    </a>
    <a href="/perguntar" class="btn btn-primary"><p>Perguntar</p></a>
        
    </a>
</nav>